<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Создать список</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script type="text/javascript"></script>
    <script>
        function addRow() {
            let tableBody = document.getElementById("tableBody");
            let newRow = document.createElement("tr");
            let newCellName = document.createElement("td");
            let newCellCount = document.createElement("td");
            let newProdName = "<input type=\"text\"  name=\"prodName\"/>"
            let newProdCount = "<input style='width: 20px' type=\"text\" name=\"countRec\">";
            newCellName.innerHTML = newProdName;
            newRow.appendChild(newCellName);
            newCellCount.innerHTML = newProdCount;
            newRow.appendChild(newCellCount)
            tableBody.appendChild(newRow);

        }
    </script>
</head>
<body>
<div class="container">
    <h1>Создание нового списка</h1>
    <form action="#" th:action="@{/createList}" name="items" method="post">
        <h3>Введите название списка:</h3>
        <input name="listName" type="text"/>
        <table>
            <thead>
            <th>Наименование товара</th>
            <th>Требуемое количество</th>
            </thead>
            <tbody id="tableBody">
            <tr>
                <td>
                    <input type="text" name="prodName"/>
                </td>
                <td>
                    <input type="text" style="width: 20px" name="countRec"/>
                </td>
            </tr>
            </tbody>
        </table>
        <input type="Button" value="Добавить строку" onclick="addRow()"/>
        <br>
        <input type="submit" value="Создать"/>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>
</div>
</body>
</html>