<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title th:text="${list.getListName()}"></title>
    <script type="text/javascript">
        let ok = 0;
    </script>
</head>
<body>
<div class="container">
    <form name="listProd" method="post" th:action="@{/listSave}">
        <table>
            <tr>
                <th>Наименование</th>
                <th>Требуемое количество</th>
                <th>Текущее количество</th>
            </tr>

            <section th:each="listItem : ${list.getListItems()}">
                <tr>
                    <td th:text="${listItem.getItemName()}" width="100px" name="itemName" id="itemName"></td>
                    <td th:text="${listItem.getCountRec}" width="20px" name="countRec"
                        th:id="'countRec' + ${listItem.getNumber()}"></td>
                    <td width="20px" name="countCur">
                        <input type="text" th:value="${listItem.getCountCur}"
                               th:id="'countCur' + ${listItem.getNumber()}"
                               name="countCur">
                        <input type="hidden" th:value="${listItem.getNumber()}" name="number">
                    </td>
                    <td><input type="button" th:id="${listItem.getNumber()}" onclick="buttonClcPl(this.id)"
                               align="right"
                               value="+"></td>
                    <td><label class="checkOK" style="display: none"
                               th:id="'equal' + ${listItem.getNumber()}">OK</label>
                    </td>
                </tr>
            </section>
        </table>
        <input type="hidden" name="listProdID" th:value="${list.getId()}">
        <input type="submit" value="Cохранить">
    </form>
    <form th:action="@{/listRemove}" method="get">
        <input type="hidden" th:value="${list.getId()}" name="listProdID">
        <input type="submit" value="Удалить список" id="removeList">
    </form>
    <form th:action="@{/list}" method="get">
        <input type="submit" value="Вернутся к списку листов">
    </form>
    <script type="text/javascript">

        function buttonClcPl(event) {
            let id = event;
            let countRec = document.getElementById('countRec' + id);
            let countCur = document.getElementById('countCur' + id);
            let equal = document.getElementById('equal' + id);
            let checkOk = document.getElementsByClassName('checkOK');
            if (parseInt(countRec.innerText) > parseInt(countCur.value)) {
                countCur.value++;
                if (parseInt(countRec.innerText) === parseInt(countCur.value)) {
                    equal.removeAttribute('style');
                    ok++;
                }
            }
            if (ok === checkOk.length) {
                alert('Всё куплено!');
            }
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>
</div>
</body>
</html>